:root {
	--color-secondary: var(--color-light);
	--color-tertiary: #E8E8E8;
	--color-loading1: #CCC;
	--color-loading2: #D4D4D4;
}

@media(prefers-color-scheme: dark) {
	:root {
		--color-secondary: var(--color-dark);
		--color-tertiary: #282828;
		--color-loading1: #282828;
		--color-loading2: #2C2C2C;
	}
}

* { cursor: unset; }

a:hover {
	cursor: pointer;
	color: var(--color-text);
}

.analytics>:first-child {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
}

.date-range {
	display: flex;
	gap: 16px;
	justify-content: flex-end;
}

.date-range>button {
	position: relative;
	display: inline-block;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: var(--color-secondary);
	transition: .2s ease opacity;
}

.date-range>button:disabled {
	opacity: .33;
	cursor: not-allowed;
}

.date-range>button:focus:not(:active):not(:hover):not([tabindex="-1"]):not(:disabled) {
	background-color: var(--color-secondary);
	border-radius: 50%;
}

.date-range>button::before {
	position: absolute;
	font-size: 32px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#next-range::before { content: "→" }
#previous-range::before { content: "←" }

* + section {
	margin-top: 80px;
}

.analytics-group {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 24px;
}

.analytics-group + .analytics-group { margin-top: 64px; }

.card {
	position: relative;
	min-height: 276px;
	padding: 24px;
	background-color: var(--color-secondary);
	border-radius: 8px;
	grid-column-end: span 3;
}

.card figure>figcaption {
	font-size: 12px;
	color: var(--color-grey);
}

hgroup>p {
	color: var(--color-grey);
}

h1 {
	position: relative;
	font-size: 4em;
	line-height: 1;
	letter-spacing: -0.025em;
}

.analytics-group>h2 {
	transform: translateY(8px);
	line-height: 1;
	grid-column-end: span 3;
	grid-row-end: span 2;
}

.analytics-group>h2::after {
	content: "";
	display: block;
	width: 64px;
	height: 1px;
	background-color: var(--color-grey);
	transform: translateY(16px);
}

@media (max-width: 1680px) {
	.analytics-group>h2 {
		grid-column-end: span 12;
		grid-row-end: span 1;
		margin-bottom: 32px;
	}

	.card {
		grid-column-end: span 4;
	}

	.analytics section+section {
		margin-top: 64px;
	}
}

h3 {
	width: calc(100% - 32px);
	font-size: 21px;
	line-height: 1;
	margin-bottom: 16px;
}

.card>ol {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.card>ol>li {
	display: grid;
	grid-template-columns: 1fr repeat(2, minmax(3ch, max-content));
	gap: 8px;
}

.card>ol>li.last {
	order: 1;
	color: var(--color-grey);
}

data {
	display: block;
	overflow: clip;
	text-overflow: ellipsis;
	position: relative;
	width: 100%;
}

data.numerical {
	font-family: "Akkurat Mono";
	text-align: right;
	font-weight: bold;
}

data.secondary, data>small {
	color: var(--color-grey);
	font-weight: normal;
}

data.big {
	font-size: 80px;
	line-height: 1;
	font-weight: bold;
}

data.big, data.loading.big {
	min-height: 1em;
}

data.big>small {
	font-weight: normal;
	font-size: 21px;
	line-height: 1.333;
}

:is(data, h1, jd-graph)::after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, var(--color-loading1) 0%, var(--color-loading2) 50%, var(--color-loading1) 100%), var(--color-loading1);
	background-attachment: fixed;
	background-size: 512px 512px;
	background-repeat: repeat-y;
	border-radius: 4px;
	pointer-events: none;
	animation: loadingWave 2.5s ease infinite both;
	opacity: 0;
	transition: .2s ease opacity;
}

:is(data, h1, jd-graph).loading, .loading * {
	color: transparent !important;
	background: none !important;
	user-select: none;
	pointer-events: none;
}

.loading data { min-height: 1.5em; }
h1.loading { min-height: 1em; }

:is(data, h1, jd-graph).loading::after, .loading data::after {
	opacity: 1;
}

@keyframes loadingWave {
	from { background-position: -50%; }
	to { background-position: 150%; }
}

jd-graph {
	display: block;
	position: relative;
	width: 100%;
	font-size: 12px;
	display: grid;
	grid-template-areas: "y-axis graph"
						 "x-axis x-axis";
	grid-template-columns: min-content 1fr;
	grid-template-rows: minmax(80px, 1fr) min-content;
	gap: 0 16px;
}

* + figure {
	margin-top: 16px;
}
