jd-dropdown {
  position: relative;
  line-height: 1;
  user-select: none;
    -webkit-user-select: none;
  cursor: pointer;
}

jd-dropdown:is(:hover, .open) {
  color: var(--color-text);
}

jd-dropdown>label {
  text-decoration: underline;
  transition: .2s ease color;
}

jd-dropdown>jd-icon {
  transform: translateY(-50%);
  margin: 0 2px 0 4px;
}

jd-dropdown>ol {
  position: absolute;
  top: 0;
  left: -22px;
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  overflow-y: scroll;
  padding: 6px;
  background-color: var(--color-secondary);
  border-radius: 8px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  color: var(--color-text);
  z-index: 55;
  cursor: default;
}

jd-dropdown>ol>option {
  padding: 8px 32px 8px 16px;
  border-radius: 4px !important;
  cursor: pointer;
}

jd-dropdown>ol>option:focus-visible {
  box-shadow: none !important;
  background-color: transparent !important;
}

jd-dropdown>ol>option:hover:not(:active),
jd-dropdown>ol:not(:hover)>option:focus-visible {
  color: var(--color-lightest) !important;
  background-color: var(--color-accent) !important;
}

.fade-out {
  animation: fade-out .2s .05s ease;
}

@keyframes fade-out {
  to { opacity: 0; }
}
