jd-password-field {
  display: block;
  position: relative;
}

jd-password-field>button {
  --color-background: var(--color-interactive);
  display: block;
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  padding: 4px;
  border-radius: 4px;
  line-height: 0;
  cursor: pointer;
}

jd-password-field>button jd-icon {
  color: var(--color-grey);
  transition: .2s ease color;
}

jd-password-field>button:hover jd-icon { color: inherit; }

jd-password-field>button #eyeSlash {
  stroke-dasharray: 64 64;
  stroke-dashoffset: 40;
  transition: .2s ease-out stroke-dashoffset;
}

jd-password-field>input[type="password"] + button #eyeSlash {
  stroke-dashoffset: 64;
}
