@font-face {
	font-family: "Akkurat";
	font-weight: 400;
	font-style: normal;
	src: url(/resources/fonts/Akkurat-Regular.woff2) format("woff2");
}

@font-face {
	font-family: "Akkurat";
	font-weight: 400;
	font-style: italic;
	src: url(/resources/fonts/Akkurat-Italic.woff2) format("woff2");
}

@font-face {
	font-family: "Akkurat";
	font-weight: 700;
	font-style: normal;
	src: url(/resources/fonts/Akkurat-Bold.woff2) format("woff2");
}

* {
	cursor: unset;
	--color-card: #222;
}

a:hover {
	cursor: pointer;
	color: var(--color-text);
}

.analytics>:first-child {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
}

.date-range {
	display: flex;
	gap: 16px;
	justify-content: flex-end;
}

.date-range>button {
	position: relative;
	display: inline-block;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: var(--color-card);
}

.date-range>button::before {
	position: absolute;
	font-size: 32px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-47%);
}

#next::before { content: "→" }
#previous::before { content: "←" }

.date-range>button:focus:not(:active):not(:hover):not([tabindex="-1"]) {
	background-color: var(--color-card);
	border-radius: 50%;
}

* + section {
	margin-top: 80px;
}

.analytics-group {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 24px;
}

.analytics-group + .analytics-group { margin-top: 64px; }

.card {
	position: relative;
	min-height: 276px;
	padding: 24px;
	background-color: var(--color-card);
	border-radius: 8px;
	grid-column-end: span 3;
}

.card figure>figcaption {
	font-size: 12px;
	color: var(--color-grey);
}

hgroup>p {
	color: var(--color-grey);
}

h1 {
	font-size: 64px;
	line-height: 1;
	letter-spacing: -0.025em;
}

.analytics-group>h2 {
	transform: translateY(8px);
	line-height: 1;
	grid-column-end: span 3;
	grid-row-end: span 2;
}

.analytics-group>h2::after {
	content: "";
	display: block;
	width: 64px;
	height: 1px;
	background-color: var(--color-grey);
	transform: translateY(16px);
}

h3 {
	font-size: 21px;
	line-height: 1;
	margin-bottom: 16px;
}

button.help {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 24px;
	right: 24px;
	background: url(/resources/graphics/tooltip.svg);
	text-decoration: none;
	cursor: help;
}

button.help:hover::after {
	font-size: 14px;
	display: block;
	position: absolute;
	top: -16px;
	right: -16px;
	transform: translateY(-100%);
	content: attr(tooltip);
	width: 256px;
	padding: 15px 16px 12px;
	border-radius: 8px;
	background-color: #222;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

button.help:focus:not(:active):not(:hover):not([tabindex="-1"]) {
	background: url(/resources/graphics/tooltip.svg);
	border-radius: 50%;
}

data.big {
	font-size: 80px;
	line-height: 1;
	font-weight: bold;
}

data.big>small {
	font-weight: normal;
	font-size: 21px;
	line-height: 1.333;
}

.card>ol {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.card>ol>li {
	display: grid;
	grid-template-columns: 1fr repeat(2, minmax(3ch, max-content));
	gap: 8px;
}

.card>ol>li.last {
	order: 1;
	color: var(--color-grey);
}

data {
	display: inline-block;
	overflow: clip;
	text-overflow: ellipsis;
	position: relative;
	width: 100%;
}

data.numerical {
	font-family: "Akkurat Mono";
	text-align: right;
}

data.secondary, data>small {
	color: var(--color-grey);
}

data::after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #333 0%, #383838 50%, #333 100%), #333;
	background-attachment: fixed;
	background-size: 512px 512px;
	background-repeat: repeat-y;
	border-radius: 4px;
	pointer-events: none;
	animation: loadingWave 2.5s ease infinite both;
	opacity: 0;
	transition: .2s ease opacity;
}

data.loading, .loading data {
	color: transparent;
	user-select: none;
}

data.loading::after, .loading data::after {
	opacity: 1;
}

@keyframes loadingWave {
	from { background-position: -50%; }
	to { background-position: 150%; }
}

jd-graph {
	display: block;
	width: 100%;
	font-size: 12px;
	display: grid;
	grid-template-areas: "y-axis graph"
						 "x-axis x-axis";
	grid-template-columns: min-content 1fr;
	grid-template-rows: minmax(80px, 1fr) min-content;
	gap: 0 16px;
}

* + figure {
	margin-top: 16px;
}

jd-graph>axis[name="x"] {
	display: block;
	width: 100%;
	border-top: 1px solid var(--color-text);
	padding-top: 4px;
	grid-area: x-axis;
}

jd-graph>axis[name="y"] {
	grid-area: y-axis;
	display: grid;
	height: 80%;
	grid-template-rows: 1fr 1fr 1fr;
	font-family: "Akkurat Mono";
	text-align: right;
}

jd-graph>axis>label {
	color: var(--color-grey);
}

jd-graph>graph {
	display: block;
	position: relative;
	grid-area: graph;
	width: calc(100% - 24px);
}

jd-graph>graph>point {
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	transform: translateX(-50%) translateY(50%);
}

jd-graph>graph>point:hover {
	z-index: 10;
}

jd-graph>graph>point::before {
	content: "";
	display: block;
	width: 4px;
	height: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: var(--color-text);
	outline: 3px solid #222;
	border-radius: 50%;
	transition: .2s ease all;
}

jd-graph>graph>point:hover::before, jd-graph>graph>point.selected::before {
	width: 8px;
	height: 8px;
	background-color: var(--color-accent);
}

jd-graph>graph>cursor {
	display: block;
	position: absolute;
	top: 0;
	width: 2px;
	opacity: .5;
	height: 100%;
	background-color: var(--color-accent);
	transform: translateX(-50%);
}

jd-graph>graph>svg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: none;
	stroke: var(--color-grey);
	stroke-width: 1px;
}

jd-graph>graph>svg * {
	vector-effect: non-scaling-stroke;
}

jd-graph>graph>point>label {
	display: block;
	position: absolute;
	width: max-content;
	padding: 0 4px;
	top: -25%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #222;
	border-radius: 8px;
	text-align: center;
	color: var(--color-grey);
	opacity: 0;
	transition: .15s ease all;
	pointer-events: none;
}

jd-graph>graph>point:hover>label {
	top: -50%;
	opacity: 1;
}

jd-graph>graph>point>label>em, jd-graph>graph>point.selected>label {
	color: var(--color-text);
	font-weight: bold;
}

jd-graph>graph>point.selected>label {
	text-align: left;
	transform: none;
	top: 50%;
	left: 75%;
	transform: translateY(-50%);
	background: none;
	opacity: 1;
}

jd-graph>graph>point:hover + point.selected>label {
	opacity: 0;
}
